{% extends 'base.html.twig' %}

{% block body %}
    <articles>
        <h2>{{ article.title }}</h2>
        <div class="metadata"> Ecrit le {{ article.createdAt | date('d/m/Y')}}
             à {{ article.createdAt | date('H:i')}}
             dans la catégorie {{ article.category.title }}</div>
        <div class="content">
            <img src="{{ article.image}}" alt="">
            <p> {{ article.content | raw }}</p>            
        </div>
    </articles>
    <h2 class="mb2"> Commentaires </h2>
    <hr>
    <section id="commentaires">
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author}}<br>
                         <small>({{ comment.createdAt | date('d/m/Y à H:i')}})</small>
                    </div>
                    <div class="col-9">
                        {{ comment.content | raw }}
                    </div>
                </div>
                <hr>
            </div>
        {% endfor %}
    </section>
{% endblock %}